.btn-valo {
    color: #fff;
    border-color: #ff4655;
}

.btn-valo:hover {
    color: #fff;
    background-color: #ff4655;
    border-color: #ff4655;
}

.svg-inline-fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}